<body>
body{background-color: lightblue}
p{border: 10% solid black;
  background-color: pink;
  margin-top:5%
  margin-right: auto;
  margin-bottom: 50%;
  margin-left: auto;}
b{color: green;
  font-weight: bolder;
  font-size: 200%;}
em{font-weight: bold;
   font-size: 130%}